[user]
	name = Aleksander Giera
	email = aleksander.giera@tietoevry.com
[difftool "sourcetree"]
	cmd = "'' "
[mergetool "sourcetree"]
	cmd = "'' "
	trustExitCode = true
[core]
	longpaths = true
[alias]
	co = checkout
	ci = commit
	amend = commit --amend
[rerere]
	enabled = true
[branch]
	sort = -committerdate
