[user]
	name = Aleksander Giera
	email = aleksander.giera@tieto.com
[difftool "sourcetree"]
	cmd = "'' "
[mergetool "sourcetree"]
	cmd = "'' "
	trustExitCode = true
[core]
	longpaths = true
[alias]
	co = checkout
	sw = switch
	ci = commit
	st = status
	amend = commit --amend
	adog = log --all --decorate --oneline --graph
[rerere]
	enabled = true
[branch]
	sort = -committerdate
