[user]
	name = Aleksander Giera
	email = aleksander.giera@tietoevry.com
[difftool "sourcetree"]
	cmd = "'' "
[mergetool "sourcetree"]
	cmd = "'' "
	trustExitCode = true
[core]
	longpaths = true
[alias]
	co = checkout
	ci = commit
	amend = commit --amend
	adog = log --all --decorate --oneline --graph
[rerere]
	enabled = true
[branch]
	sort = -committerdate
[maintenance]
	repo = C:/Users/gieraale/PROJECTS/monorepo/new2/scs-maven-parent
