" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc
let mapleader=" "

set scrolloff=10
set showmode
set showcmd
set number relativenumber
set clipboard^=unnamedplus,unnamed

set ignorecase
set smartcase
set incsearch
set hlsearch

" Surround plugin to work
set surround
set highlightedyank

map Q gq

" quick-scope plugin to highlight first letters of words
set quickscope
let g:qs_highlight_on_keys = ['f', 'F', 't', 'T']

set which-key

"" Mappings
nmap <leader>b <Action>(ToggleLineBreakpoint)
nmap <leader>h <Action>(CallHierarchy)
nmap <leader>s <Action>(ShowUsages)
nmap <leader>u <Action>(FindUsages)

" Go to code
nmap gd <Action>(GotoDeclaration)
nmap gD <Action>(GotoTypeDeclaration)
nmap gy <Action>(ShowErrorDescription)
nmap gi <Action>(GotoImplementation)
nmap gu <Action>(ShowUsages)
nmap gt <Action>(GotoTest)
nmap gb <Action>(Back)
nmap gf <Action>(Forward)
nmap gl <Action>(QuickJavaDoc)
nmap gn <Action>(VcsShowPrevChangeMarker)
nmap gm <Action>(VcsShowNextChangeMarker)

" Refactoring
map <leader>rn <Action>(RenameElement)
map <leader>rm <Action>(ExtractMethod)
map <leader>rv <Action>(IntroduceVariable)
map <leader>rf <Action>(IntroduceField)
map <leader>rc <Action>(IntroduceConstant)
map <leader>rs <Action>(ChangeSignature)
map <leader>rr <Action>(Refactorings.QuickListPopupAction)

" Window splits
map <leader>wv <Action>(SplitVertically)
map <leader>ws <Action>(SplitHorizontally)
map <leader>wu <Action>(Unsplit)
map <leader>wm <Action>(MoveEditorToOppositeTabGroup)

" File navigation
map <leader>ff <action>(GotoFile)
map <leader>fr <action>(RecentFiles)
map <leader>fc <action>(FindInPath)
map <leader><leader> <Action>(RecentFiles)
map <leader>fl <action>(RecentLocations)
map <leader>fs <action>(NewScratchFile)

" Close active tab
map <leader>q <action>(CloseContent)

" Display options
map <leader>dd <action>(ToggleDistractionFreeMode)
map <leader>dz <action>(ToggleZenMode)
map <leader>df <action>(ToggleFullScreen)

" Folding
map <leader>zc :action CollapseAllRegions<CR>
map <leader>zo :action ExpandAllRegions<CR>

" Comment lines
map <leader>c <action>(CommentByLineComment)

" Errors
map <leader>en <Action>(ReSharperGotoNextErrorInSolution)
map <leader>ep <Action>(ReSharperGotoPrevErrorInSolution)

" Actions
map <leader>am <action>(ShowIntentionActions)
map <leader>as <action>(SearchEverywhere)